* { margin: 0; padding: 0 } 
* { box-sizing: border-box; } 
*::after { box-sizing: border-box; } 
*::before { box-sizing: border-box; } 
ul,li { list-style: none } 
a { color: inherit; text-decoration: none } 
input{font: inherit}
body { font-size: 12px; line-height: 1.5; } 

/**/
.page { display: flex; height: 100vh; } 
.page > aside { width: 200px;} 
.page > main { flex-grow: 1;  background: #F7F8FA;} 

/*******aside*******/
.page > aside {
    display: flex;
    flex-direction: column;
    box-shadow: 0 9px 31px 0 rgba(0,0,0,.03);

}
#songList-container{flex-grow: 1;}
.songList { text-align: left; border-top: 0px solid #000; } 
.songList > li { border-bottom: 1px solid #ddd; padding:10px;} 
.active{border-right: 3px solid #ea524e;}


/*****main*****/
.form-container{
    visibility: hidden;
}
.form-container.active{
    visibility: visible;
}
.form-container > h1{
    position: absolute;
    top:25%;
    z-index: 2;

}
.form-container{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{font-size: 14px;
    z-index: 2;

    background: #FDFDFD;

    display: inline;
    position: absolute;
    top:30%;

 }

form > .row{margin: 20px;display: flex;}
form > .row > label {
    display: flex;
    width: 4em;
    justify-content: flex-start;
    align-items: center;
}
form > .row.actions{
    margin-left: calc(4em + 5px) ;
}
form  input[type=text]{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 30px;
}
form button{height: 30px;padding-right: 10px;padding-left: 10px;border-radius: 5px;}
form input[type=button]
form input[type=submit]

.page > main {
    padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadArea {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    background: #FEFEFE;
    border: 1px solid #e7eaf3;
    box-shadow: 0 9px 31px 0 rgba(0,0,0,.03);
    border-radius: 5px;
    min-width: 1000px;
    max-width: 1080px;
    display: block;
} 
.draggable {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    background: #FEFEFE;

    justify-content: center;
    width: 1000px;
    height: 600px;
    flex-direction: column; 

} 
.clickable{
    font-size: 20px;
    text-align: center; 
    align-items: center;
    cursor: pointer;
}